$base-font-size: 18px;
$base-line-height: 1.4;
$desktop-width: 1170px;

$base-font: 'OpenSans';

// https://www.htmlcsscolor.com/hex/000000
$black: #000000;
$navy: #000070;
$blue: #0000ff;
$dodger-blue: #0099ff;
$red: #ff0000;

$text-color: $black;
$link-color: $dodger-blue;
