@import "constants";
@import "mixins";

body {
    font-size: $base-font-size;
    font-family: $base-font, sans-serif;
    line-height: $base-line-height;
    color: $text-color;

    // example how to use mixin for responsive layout
    @include max-screen(md) {
        background: red;
    }
}

.container {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 10px;
}
