@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
/*-- Абсолютное позиционирование  по центру*/
/*----------------------------------------*/
/*стили для плейсхоледра*/
/*
  .input-class{
    @include placeholder{
      code-here
    }
  }
*/
/* Breakpoint sizes */
/* Create the mixin (usually in a separate .scss file) */
body {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  line-height: 1.4;
  color: #000000;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}