@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.3;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  cursor: pointer;
}

body {
  font-size: 14px;
  font-family: OpenSans, sans-serif;
  color: #404650;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
}