$min-width: 310px;
$max-width: 1170px;
$base-bg: #FFF;
$base-font-size: 13px;
$base-line-height: 1.2;
$base-font-family: 'RFTone';
$custom-font-family: 'OpenSans', sans-serif;
$link-color: #100da9;
$text-color: #000;
$default-transition:all 0.2s linear;
$main-color: #F0F0F0;
