$base-font-size: 18px;
$base-line-height: 1.4;
$max-width: 1170px;

$base-font: 'Roboto';

$dark-color: #000;
$light-color: #fff;
$main-color: #ED1A36;
$link-color: #40a3ff;

$color-1: #929292;
$color-2: #F3F3F3;